In [86]:
import pandas as pd 
import numpy as np
df = pd.read_csv('Datasets/BL-Flickr-Images-Book.csv')
df.head()

to_drop = ['Edition Statement', 'Corporate Author', 'Corporate Contributors', 'Former owner', 'Engraver']
df.drop(columns=to_drop, inplace=True)
df.head()

df = df.set_index('Identifier')
df.head()

df.loc[206]

df.get_dtype_counts()

df.loc[1905:, 'Date of Publication'].head(10)

extr = df['Date of Publication'].str.extract(r'^(\d{4})', expand=False)
extr.head()

df['Date of Publication'] = pd.to_numeric(extr)
df['Date of Publication'].dtype
df['Date of Publication'].isnull().sum() / len(df)

df['Place of Publication'].head(10)
pub = df['Place of Publication']
london = pub.str.contains('London')
london[:5]

oxford = pub.str.contains('Oxford')
df['Place of Publication'] = np.where(london, 'London', np.where(oxford, 'Oxford', pub.str.replace('-', ' ')))
df['Place of Publication'].head()
df.head()

C:\Users\User\Anaconda3\lib\site-packages\ipykernel_launcher.py:15: FutureWarning: `get_dtype_counts` has been deprecated and will be removed in a future version. For DataFrames use `.dtypes.value_counts()
  from ipykernel import kernelapp as app

,Place of Publication,Date of Publication,Publisher,Title,Author,Contributors,Issuance type,Flickr URL,Shelfmarks
Identifier,,,,,,,,,
206,London,1879.0,S. Tinsley & Co.,Walter Forbes. [A novel.] By A. A,A. A.,"FORBES, Walter.",monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12641.b.30.
216,London,1868.0,Virtue & Co.,All for Greed. [A novel. The dedication signed...,"A., A. A.","BLAZE DE BURY, Marie Pauline Rose - Baroness",monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12626.cc.2.
218,London,1869.0,"Bradbury, Evans & Co.",Love the Avenger. By the author of “All for Gr...,"A., A. A.","BLAZE DE BURY, Marie Pauline Rose - Baroness",monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12625.dd.1.
472,London,1851.0,James Darling,"Welsh Sketches, chiefly ecclesiastical, to the...","A., E. S.","Appleyard, Ernest Silvanus.",monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 10369.bbb.15.
480,London,1857.0,Wertheim & Macintosh,"[The World in which I live, and my place in it...","A., E. S.","BROOME, John Henry.",monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 9007.d.28.

In [199]:
import pandas as pd 
import numpy as np 

university_towns = []
with open('Datasets/university_towns.txt') as file:
    for line in file:
        if '[edit]' in line: state = line
        else: university_towns.append((state, line))

university_towns[:5]
towns_df = pd.DataFrame(university_towns, columns = ['State', 'RegionName'])
towns_df.head()

def get_citystate(item):
    if ' (' in item: return item[:item.find(' (')]
    elif '[' in item: return item[:item.find('[')]
    else: return item

towns_df.applymap(get_citystate)
towns_df.head()

             State                                         RegionName
0  Alabama[edit]\n                    Auburn (Auburn University)[1]\n
1  Alabama[edit]\n           Florence (University of North Alabama)\n
2  Alabama[edit]\n  Jacksonville (Jacksonville State University)[2]\n
3  Alabama[edit]\n       Livingston (University of West Alabama)[2]\n
4  Alabama[edit]\n         Montevallo (University of Montevallo)[2]\n