In [82]:
#installing required libraries
import pandas as pd
import numpy as np

#read the dataset
data = pd.read_csv("testdata.csv", index_col="Loan_ID")

#Boolean Indexing
print('\n\nBOOLEAN INDEXING\n\n', data.loc[(data["Gender"]=="Male") & (data["Education"]=="Not Graduate") & (data["Self_Employed"]=="Yes"), ["Gender", "Education", "Self_Employed"]])

print ("\nAPPLYING MISSING FUNCTIONS AND IMPUTING\n")
#summarize missing value 
from scipy.stats import mode

mode(data['Gender'])
mode(data['Gender']).mode[0]

def num_missing(x):
  return sum(x.isnull())

#Applying per column:
print("\nMissing values per column:\n")
print(data.apply(num_missing, axis=0)) 
#axis=0 defines that function is to be applied on each column

#Applying per row:
print("\nMissing values per row:\n")
print(data.apply(num_missing, axis=1).head()) 
#axis=1 defines that function is to be applied on each row

#Impute values:
data['Gender'].fillna(mode(data['Gender']).mode[0], inplace=True)
data['Married'].fillna(mode(data['Married']).mode[0], inplace=True)
data['Self_Employed'].fillna(mode(data['Self_Employed']).mode[0], inplace=True)

#Confirm missing values
print (data.apply(num_missing, axis=0))

#Pivoting
print("\nPivoting the data values:\n")
impute_grps = data.pivot_table(values=["LoanAmount"], index=["Gender","Married","Self_Employed"], aggfunc=np.mean)
print(impute_grps)

#merging data
print("\nMerging data values:\n")
prop_rates = pd.DataFrame([1000, 5000, 12000], index=['Rural','Semiurban','Urban'],columns=['rates'])
prop_rates

data_merged = data.merge(right=prop_rates, how='inner',left_on='Property_Area',right_index=True, sort=False)
data_merged.pivot_table(values='Credit_History',index=['Property_Area','rates'], aggfunc=len)

BOOLEAN INDEXING

          Gender     Education Self_Employed
Loan_ID
LP001054   Male  Not Graduate           Yes
LP001270   Male  Not Graduate           Yes
LP001312   Male  Not Graduate           Yes
LP001817   Male  Not Graduate           Yes
LP001857   Male  Not Graduate           Yes
LP002375   Male  Not Graduate           Yes
LP002971   Male  Not Graduate           Yes

APPLYING MISSING FUNCTIONS AND IMPUTING


Missing values per column:

Gender               11
Married               0
Dependents           10
Education             0
Self_Employed        23
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            5
Loan_Amount_Term      6
Credit_History       29
Property_Area         0
dtype: int64

Missing values per row:

Loan_ID
LP001015    0
LP001022    0
LP001031    0
LP001035    1
LP001051    0
dtype: int64
Gender                0
Married               0
Dependents           10
Education             0
Self_Employed         0
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            5
Loan_Amount_Term      6
Credit_History       29
Property_Area         0
dtype: int64

Pivoting the data values:

                              LoanAmount
Gender Married Self_Employed
Female No      No             114.250000
               Yes            171.000000
       Yes     No             139.800000
Male   No      No             122.085366
               Yes            128.625000
       Yes     No             144.084270
               Yes            153.760000

                     Credit_History
Property_Area rates
Rural         1000            111.0
Semiurban     5000            116.0
Urban         12000           140.0

In [72]:
#to create a new function
def num_missing(x):
  return sum(x.isnull())

#Applying per column:
print ("\n\nMissing values per column:\n\n")
print (data.apply(num_missing, axis=0))

#Applying per row:
print ("\n\nMissing values per row:\n\n")
print (data.apply(num_missing, axis=1).head())

Missing values per column:


Gender                0
Married               0
Dependents           10
Education             0
Self_Employed         0
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            5
Loan_Amount_Term      6
Credit_History       29
Property_Area         0
dtype: int64


Missing values per row:


Loan_ID
LP001015    0
LP001022    0
LP001031    0
LP001035    1
LP001051    0
dtype: int64